.err{
    text-align: center;
    font-size: 16px;
    font-family: monospace;
    color: red;
    margin-top: -20px;
    height: 10px;
}
@media (max-width: 700px) {
    .err{
        text-align: center;
        font-size: 16px;
        font-family: monospace;
        color: red;
        margin-top: -13px;
        height: 10px;
    }  
}