.Fin_pagination_1{
    width: 45px;
    height: 35px;
    background: #EFEFEF;
    border-radius: 35px;
    position: absolute;
    left: 47%;
    color: black;
    text-align: center;
    font-size: medium;
    padding-top: 9px;
    top: 13%;
}
.Fin_pagination_2{
    width: 45px;
    height: 35px;
    background-color: #0075FF;
    border-radius: 35px;
    position: absolute;
    left: 50%;
    color: white;
    text-align: center;
    font-size: medium;
    padding-top: 9px;
    top: 13%;
}
.Fin_info-select{
    background: white;
    height: 65px;
}